.root{
    -fx-background-color: #FFAE00;
}
#statbar{
    -fx-background-color: rgba(0, 0, 0, 0.6);
}
#statusLabel{
    -fx-text-fill: white;
}
#studentTable{
    -fx-text-fill: black;
}

#deletebtn{
    -fx-background-color: tomato;
    -fx-text-fill: White;
    -fx-background-radius: 5px;
}
#homebtn,#addbtn,#editbtn,#refreshbtn{
    -fx-background-radius: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-text-fill: white;
}

